@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-brand-color-hex: #b92400;
  --secondary-brand-color-hex: #555;
  --general-color-hex: #454545;
  --light-gray: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--general-color-hex));
  background: white;
}

main {
  position: initial;
}

.image-container {
  overflow-x: hidden;
  height: auto;
  display: flex;
}

.primary-color-bg {
  background-color: var(--primary-brand-color-hex);
}

.secondary-color-text {
  color: var(--secondary-brand-color-hex);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.primary-color-text {
  color: var(--primary-brand-color-hex);
}

.top-4\/10 {
  top: 40%;
}

.w-6\/10 {
  width: 60%;
}

.w-4\/10 {
  width: 40%;
}

.cta {
  padding: 0.6rem 5rem;
  border-color: #fff;
  border-width: 4px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

.cta:hover {
  background-color: var(--secondary-brand-color-hex);
}

.hero.mobile, .cta-container {
  display: none;
}

.hero.desktop {
  display: block;
}

/*Ipad Air*/

@media (max-width: 1024px) and (min-width: 768px) {
  .hero .hero-btn{
    display: none;
  }

  .cta-container {
    display: block;
  }

  .cta {
    padding: 0.3rem 2.5rem
  }
}

@media (max-width: 768px) {
  .hero.mobile {
    display: block;
  }

  .hero.desktop, .hero .grid {
    display: none;
  }

  .cta-container {
    display: block;
    position: relative;
  }

  .cta {
    padding: 0.3rem 2.5rem
  }
}
